<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/style.css">
  <title>Пёс, не забудь тут тайтл запилить</title>
</head>
<body >
<div class="navbar clearfix">
  <div class="logo">Woof Woof logo</div>
  <ul class="nav clearfix">
    <li><a href="">Главная</a></li>
    <li><a href="">Журнал</a></li>
    <li><a href="">Регистрация</a></li>
  </ul>
</div>
<div class="login">
  <form action="">
    <div class="email">
      <label for="login">Логин</label>
      <input type="input" placeholder="Электронная почта" id="login">
    </div>
    <div class="password">
      <label for="password">Пароль</label>
      <input type="input" placeholder="Пароль" id="password">
    </div>
    <button class="enter" type="submit">Войти</button>
  </form>
</div>
</body>
</html>